@include b('consultation'){

	@include m('1'){
		@include bg('../img/bg-consultation-1.jpg');
	}

	@include m('2'){
		@include bg('../img/bg-consultation-2.jpg');
	}
	
	@include min(md){
		@include padding-y(170px);
	}
	

	@include e('row'){
		@include min(sm){
			align-items: center;
			justify-content: space-between;
		}
	}
	
	@include e('form'){
		&-cover{
			position: relative;
			background-color: $color-white;
			padding: 15px;
			@include min(sm){
				padding: 30px;
				&:before{
					@include pseudo();
					left: -120px;
					top: 15px;
					@include size(100px);
					@include bg('../img/consultation-arrow.svg');
				}
			}
		}
	}

	@include e('title'){
		@include max(sm){
			margin-bottom: 30px;
		}
	}
	&__title + &__title{
		margin-top: 30px;
	}
}