@include b('consultation'){
	position: relative;
	@include padding-y(60px);
	color: $color-white;

	&:before{
		@include pseudo();
		left: 0;
		top: 0;
		@include size(100%);
		background-color: transparentize($color-black, 0.3);
	}

	@include m('1'){
		@include bg('../img/bg-consultation-1.jpg');
	}
	
	@include min(md){
		@include padding-y(170px);
	}
	
	@include min(lg){
		@media screen{
			background-attachment: fixed;
		}
	}


	// @include e('quadro'){
	// 	@include m('1'){
	// 		top: calc(100% - #{$quadro-size / 1.5});
	// 		left: 0;
	// 		@include min(md){
	// 			top: calc(100% - #{$quadro-size_md / 1.5});
	// 		}
	// 	}
	// 	@include m('2'){
	// 		bottom: calc(100% - #{$quadro-size / 1.5});
	// 		right: 0;
	// 		@include min(md){
	// 			bottom: calc(100% - #{$quadro-size_md / 1.5});
	// 		}
	// 	}
	// }

	@include e('row'){
		@include min(sm){
			align-items: center;
			justify-content: space-between;
		}
	}
	
	@include e('form'){
		&-cover{
			position: relative;
			background-color: $color-white;
			padding: 30px;
			@include min(sm){
				&:before{
					@include pseudo();
					left: -100%;
					top: 15px;
					@include size(100px);
					@include bg('../img/consultation-arrow.svg');
				}
			}
		}
	}
}