@include b('consultation'){
	position: relative;
	@include padding-y(60px);
	color: $color-white;

	&:before{
		@include pseudo();
		left: 0;
		top: 0;
		@include size(100%);
		background-color: transparentize($color-black, 0.3);
	}

	@include m('1'){
		@include bg('../img/bg-consultation-1.jpg');
	}

	@include m('2'){
		@include bg('../img/bg-consultation-2.jpg');
	}
	
	@include min(md){
		@include padding-y(170px);
	}
	
	@include min(lg){
		@media screen{
			background-attachment: fixed;
		}
	}

	@include e('row'){
		@include min(sm){
			align-items: center;
			justify-content: space-between;
		}
	}
	
	@include e('form'){
		&-cover{
			position: relative;
			background-color: $color-white;
			padding: 30px;
			@include min(sm){
				&:before{
					@include pseudo();
					left: -120px;
					top: 15px;
					@include size(100px);
					@include bg('../img/consultation-arrow.svg');
				}
			}
		}
	}
}