@include b('country'){

	@include bg('../img/bg-country.jpg');


	@include min(sm){
		@include padding-y(75px, 45px);
	}

	@include min(lg){
		@include padding-y(130px, 75px);
	}

	@include e('description'){
		text-align: center;
		font-family: 'FormularBold';
		margin-bottom: 30px;
	}

	@include e('footer'){
		text-align: center;
		@include ee('title'){
			margin-bottom: 30px;
			@include min(md){
				margin-bottom: 45px;
			}
		}
	}

	@include e('icons'){
		margin-bottom: 45px;
	}
}