@include b('himself'){
	background-color: #f7f7f7;
	@include padding-y(45px);

	@include min(sm){
		@include padding-y(60px);
	}

	@include e('content'){
		margin-bottom: 45px;
	}

	@include e('footer'){
		text-align: center;
	}
}