@include b('question'){
	@include padding-y(45px);
	@include min(sm){
		@include padding-y(60px);
	}
	
	@include e('container'){
		@include min(md){
			@include padding-x(60px)
		}
	}
	@include e('title'){
		text-align: center;
	}

	@include e('footer'){
		text-align: center;
		font-family: 'FormularBold';
		margin-top: 45px;
		@include min(sm){
			width: 80%;
			@include margin-x(auto);
		}
	}
}