@include b('why'){
	
	@include padding-y(45px);

	@include e('content'){
		margin-bottom: 45px;

		@include min(sm){
			margin-bottom: 60px;
		}
	}

	@include e('footer'){
		text-align: center;
	}

	@include e('title'){
		text-align: center;
		margin-bottom: 45px;
		@include min(sm){
			margin-bottom: 60px;
		}
	}
}