include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.HEADER.header
	+quadro('_style-1 header__quadro')
	.container#header-container
		+e.H1.title.title-lg.wow.fadeInUp#header-title
			| Среднее образование в 
			+e.SPAN.title-flag Словакии
		+e.H2.subtitle.title-sm.color-brand-1 для выпускников 9-х классов
		+e.P.description.wow.fadeInUp(data-wow-delay="0.25s")
			| Организуем 
			span.color-brand-1 поступление Вашего ребенка 
			| в престижный словацкий техникум или колледж с бесплатным обучением. После которых он сможет:
		+e.icons.row
			+icon('_center col-12 col-sm-4 wow fadeInUp', 'img/icon-header-1.svg')(data-wow-delay="0.2s")
				p Поступить в любой ВУЗ Словакии на любую специальность бесплатно
			+icon('_center col-12 col-sm-4 wow fadeInUp', 'img/icon-header-2.svg')(data-wow-delay="0.3s")
				p Получить 
				+e.SPAN.border-highlight вид на жительство  
				|  в Словакии, а значит сможет легально жить и работать в ЕС

			+icon('_center col-12 col-sm-4 wow fadeInUp', 'img/icon-header-3.png')(data-wow-delay="0.4s")
				p Открыть собственный 
				+e.SPAN.border-highlight законный бизнес 
				|  в Европе
		+e.button-wrapper.wow.fadeInUp(data-wow-delay="0.3s")
			+b.BUTTON.btn._size-lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Узнать больше