
<header class="header">
  <div class="quadro quadro_style-1 header__quadro" data-emergence="hidden"><span class="quadro__part quadro__part_1"></span><span class="quadro__part quadro__part_2"></span><span class="quadro__part quadro__part_3"></span><span class="quadro__part quadro__part_4"></span><span class="quadro__part quadro__part_5"></span><span class="quadro__part quadro__part_6"></span><span class="quadro__part quadro__part_7"></span><span class="quadro__part quadro__part_8"></span><span class="quadro__part quadro__part_9"></span>
  </div>
  <div class="container" id="header-container">
    <h1 class="header__title title-lg wow fadeInUp" id="header-title">Среднее образование в <span class="header__title-flag">Словакии</span>
    </h1>
    <h2 class="header__subtitle title-sm color-brand-1">для выпускников 9-х классов
    </h2>
    <p class="header__description wow fadeInUp" data-wow-delay="0.25s">Организуем <span class="color-brand-1">поступление Вашего ребенка </span>в престижный словацкий техникум или колледж с бесплатным обучением. После которых он сможет:
    </p>
    <div class="header__icons row">
      <div class="icon icon_center col-12 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
        <div class="icon__inner">
          <div class="icon__header"><img class="icon__img" src="img/icon-header-1.svg" alt="" role="presentation"/>
          </div>
          <div class="icon__body">
            <p>Поступить в любой ВУЗ Словакии на любую специальность бесплатно</p>
          </div>
        </div>
      </div>
      <div class="icon icon_center col-12 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="icon__inner">
          <div class="icon__header"><img class="icon__img" src="img/icon-header-2.svg" alt="" role="presentation"/>
          </div>
          <div class="icon__body">
            <p>Получить </p><span class="icon__border-highlight">вид на жительство  </span> в Словакии, а значит сможет легально жить и работать в ЕС
          </div>
        </div>
      </div>
      <div class="icon icon_center col-12 col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
        <div class="icon__inner">
          <div class="icon__header"><img class="icon__img" src="img/icon-header-3.png" alt="" role="presentation"/>
          </div>
          <div class="icon__body">
            <p>Открыть собственный </p><span class="icon__border-highlight">законный бизнес </span> в Европе
          </div>
        </div>
      </div>
    </div>
    <div class="header__button-wrapper wow fadeInUp" data-wow-delay="0.3s">
      <button class="btn btn_size-lg btn_brand-1 effect effect_bounce-top" data-action="modal" data-open="#modal-form">Узнать больше
      </button>
    </div>
  </div>
</header>