
<div class="fixed fixed_md-top">
  <div class="nav nav_style" id="js-wrapper-navigation">
    <div class="nav__container container">
      <div class="nav__row row flex flex_y-center">
        <div class="nav__logo col-8 col-md-2">
          <button class="hamburger hamburger_effect-1" type="button" id="js-vnav__btn"><span class="hamburger__lines"><span>Line1</span><span>Line2</span><span>Line3</span></span>
            <!--+e.SPAN.text Menu-->
          </button>
          <div class="nav__logo-content"><img class="nav__logo-content-img" src="img/logo.png" alt="" role="presentation"/>
          </div>
        </div>
        <nav class="nav__menu col-12 col-md-10" id="js-navigation"><ul>
          <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-slovakiya">Почему Словакия</a>
          </li>
          <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-steps">Этапы поступления</a>
          </li>
          <li class="nav__menu-item"><a class="nav__menu-item-link" data-scroll="data-scroll" href="#section-garant">Гарантии</a>
          </li>
          <li class="nav__menu-item"><a class="nav__menu-item-phone" href="+38 (067) 325 57 96">+38 (067) 325 57 96</a>
          </li>
          <li class="nav__menu-item">
            <button class="btn btn_navigation effect effect_bounce-top" data-action="modal" data-open="#modal-form">Проконсультироваться бесплатно
            </button>
          </li>
        </nav>
      </div>
    </div>
  </div>
</div>