@include b('header'){
	@include e('description'){
		margin-bottom: 30px;
		font-size: 17px;
		line-height: 1.1;
		@include min(sm){
			font-size: 21px;
			width: 80%;
			@include margin-x(auto);
		}

		@include m('small'){
			@include max(sm){
				margin-bottom: 15px;
			}
		}
	}
}