@include b('icon'){
	&_center{
		text-align: center;
		margin-bottom: 30px;
	}
	&_center &{
		@include e('header'){
			margin-bottom: 15px;
		}
		@include e('img'){
			height: 100px;
		}
		@include e('title'){
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
	@include e('title'){
		font-family: 'FormularBold';
		font-size: 18px;
		line-height: 1.1;
		color: $color-brand-1;
		@include min(md){
			font-size: 24px;
		}
	}

	&_step &{
		&__title{
			position: relative;
			background-color: $color-brand-2;
			color: $color-white;
			padding: 10px;
		}
		&__body{
			text-align: left;
			font-size: 14px;
		}
	}

	&_step:not(:last-child) &{
		&__title{
			&:before{
				content: '';
				@include absolute(50%, -30px);
				@include size(30px, 8px);
				margin-top: -4px;
				background-color: $color-brand-2;
			}
		}
	}

	&__border-highlight{
		display: inline-block;
		border-bottom: 1px solid;
	}
}