@include b('timer'){
	position: relative;
	text-align: center;
	z-index: z-index('default');
	
	@include e('header'){
		margin-bottom: 15px;
	}

	@include e('image'){
		height: 72px;
	}

	@include e('title'){
		font-family: 'FormularBold';
		max-width: 200px;
		margin-bottom: 15px;
		@include margin-x(auto);
	}
}