extends pug/layout
block variables
	- var title = "Среднее образование в Словакии";
	- var description = "Организуем поступление Вашего ребенка в престижный словацкий техникум или колледж с бесплатным обучением.";
	- var url = "";
	- var image = "img/logo.png";
block nav
block header
	include pug/layouts/header_thx