include ../bem/index
include ../helpers/config
include ../helpers/mixins
-
	var countries = [
		{
			image: 'img/icon-country-1.svg',
			delay: '0.05s',
			content: 'Небольшая страна недалеко от нас...'
		},
		{
			image: 'img/icon-country-2.svg',
			delay: '0.15s',
			content: 'Вроде бы они в Евросоюзе…'
		},
		{
			image: 'img/icon-country-3.svg',
			delay: '0.3s',
			content: 'Живут наверное получше нас, но вряд ли намного...'
		}
	];

+b.SECTION.country._1
	+quadro('_style-1 _bottom-left')
	+quadro('_style-2 _top-right')
	+e.container.container
		+e.H3.title.title-md.title-section
			span.color-brand-1 Словакия… 
			|  Что приходит в голову, когда Вы слышите про эту страну?
		.row
			each country in countries
		+e.P.description Это всё занятно, но маловажно.  Самое главное, что Вам нужно знать о Словакии:
		+e.footer
			+e.H3.footer-title.title-md
				| Это самый доступный для обычной украинской семьи вариант обеспечить 
				span.color-brand-1 состоятельное европейское 
				| будущее своего ребенка
			+e.footer-button
				+b.BUTTON.btn._size-lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Проконсультироваться бесплатно