include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.SECTION.garant.bg#section-garant
	+quadro('_style-1 _bottom-left')
	+quadro('_style-2 _top-right')
	.container
		+e.content
			+b.answer.row.wow.fadeInLeft(data-wow-delay="0.1s")
				+e.column._image.col-12.col-sm-6
					+e.icon(src="img/icon-garant-1.svg")
				+e.column._text.col-12.col-sm-6
					+e.header
						+e.P.header-title Гарантии?
					+e.content
						p У нас всё просто и прозрачно.

						p Мы гарантируем, что с нашей помощью Ваш ребенок поступит на бесплатное обучение в выбранную словацкую школу.  Независимо от его уровня успеваемости.

						p Если по каким-то причинам поступить не получилось* - возвращаем деньги.

						p * За 7 лет нашей работы, случаев когда ребенок не поступал было Х-ХХ. Это на более ХХХ поступивших детей

			+b.answer.row.wow.fadeInRight(data-wow-delay="0.1s")
				+e.column._image.col-12.col-sm-6
					+e.icon(src="img/icon-garant-2.svg")
				+e.column._text.col-12.col-sm-6
					+e.header
						+e.P.header-title Как быть с языком?
					+e.content
						p Как Вы уже поняли, для бесплатного обучения в словацкой школе или техникуме, нужно знать словацкий.

						p Мы подберем для Вас самый удобный по времени и бюджету вариант, так чтобы ребенок выучил язык максимально быстро, без зубрежки и мучений.
		+e.footer
			+b.BUTTON.btn._size-lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Проконсультироваться бесплатно