include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.SECTION.why#section-why
	.container
		+e.H3.title.title-md Почему Словакия?
		+e.content
			+e.item.row.wow.fadeInLeft(data-wow-delay="0.1s")
				+e.item-column._image.col-12.col-sm-6
					+e.item-image(src="img/why-1.jpg")
				+e.item-column._text.col-12.col-sm-6
					+e.item-header
						+e.P.item-header-title Бесплатное обучение
					+e.item-content
						p Причем не только в колледжах и техникумах, но и в ВУЗах.
						p В Словакии доступны самые востребованные в Европе специальности - Инженерия, Энергетика, Медицина, Фармацевтика, Ветеринария.
						p Очень много гос. школ и ВУЗов рассчитаны на высокооплачиваемые профессии в сферах услуг, предпринимательской деятельности и туризма.
			+e.item.row.wow.fadeInRight(data-wow-delay="0.1s")
				+e.item-column._image.col-12.col-sm-6
					+e.item-image(src="img/why-2.jpg")
				+e.item-column._text.col-12.col-sm-6
					+e.item-header
						+e.P.item-header-title Упор на практику
					+e.item-content
						p Обучение в словацких средних учебных заведениях проходит по принципу: 
						p.bold Неделя теории, а потом неделя практики, с максимальным погружением в рабочий процесс. 
						p После колледжа/техникума ребенок сразу готов к работе в реальных компаниях или к открытию собственного бизнеса.
						p В Словакии не “пичкают” детей теорией, устаревшей еще 15 лет назад, так что в итоге они не могут найти работу после техникума или даже ВУЗа. Как это происходит сами знаете где...
			+e.item.row.wow.fadeInLeft(data-wow-delay="0.1s")
				+e.item-column._image.col-12.col-sm-6
					+e.item-image(src="img/why-3.jpg")
				+e.item-column._text.col-12.col-sm-6
					+e.item-header
						+e.P.item-header-title Вид на жительство
					+e.item-content
						p Все словацкие студенты получают вид на жительство. А это прямая возможность легально жить и работать в странах ЕС. 
			+e.item.row.wow.fadeInLeft(data-wow-delay="0.1s")
				+e.item-column._image.col-12.col-sm-6
					+e.item-image(src="img/why-4.jpg")
				+e.item-column._text.col-12.col-sm-6
					+e.item-header
						+e.P.item-header-title Курортные условия
					+e.item-content
						p Все колледжи и техникумы, с которыми мы сотрудничаем, находятся в самых живописных уголках Словакии.

						p Ребенок дышит чистым воздухом, имеет доступ к минеральной воде и горнолыжному курорту.

						p К тому же, когда Вы приезжаете его проведать, заодно можете отдохнуть в шикарных условиях.

						p Шикарные виды, потрясающей красоты пейзажи и всё это - в пешей доступности. Можно гулять, летом кататься на велосипедах, а зимой на лыжах. 

						p Ребенок гарантированно поправит проблемы со здоровьем (если есть) и будет дышать полной грудью!
			+e.item.row.wow.fadeInLeft(data-wow-delay="0.1s")
				+e.item-column._image.col-12.col-sm-6
					+e.item-image(src="img/why-5.jpg")
				+e.item-column._text.col-12.col-sm-6
					+e.item-header
						+e.P.item-header-title Развитая страна
					+e.item-content
						p Так как после учебы (особенно, если Вы решите поступать в техникум) ребенок почти гарантированно получит работу в стране, важно понимать, что Словакия:

						p Находится на 35-м месте в мире по уровню благосостояния населения. Это выше, чем Польша и ЕЩЕ СТРАНА (Украина на ХХ-м)

						p В Словакии очень лояльно относятся к украинцам, без проблем берут их на работу и хорошо платят

						p В стране очень востребованы как рабочие специальности, так и творческие и из сферы IT

						p Словакия поддерживает предпринимателей и дает хорошие условия тем, кто хочет развивать свой бизнес в стране