@include b($themeNav){
	@include e('menu'){
		@include ee('item'){
			display: block;
			a{
				display: block;
				position: relative;
				text-decoration: none;
				font-size: 16px;
			}
			&-link{
				color: $color-white;
			}
			&-phone{
				color: $color-brand-1;
				font-family: 'FormularBold';
				text-decoration: none;
				@include transition();
			}
			@include max(md){
				margin-bottom: 10px;
				a{
					padding: 10px 15px;
				}
			}
			@include min(md){
				display: inline-block;
				vertical-align: middle;
				&:not(:last-child){
					margin-right: 10px;
				}
				a{
					padding-top: 7.5px;
					padding-bottom: 7.5px;
					font-size: 13px;
				}

				@include ee('link'){
					@include linkEffect3();
				}

				@include ee('phone'){

					&:hover{
						color: $color-brand-2;
					}
				}
			}
			@include min(lg){
				a{
					font-size: 16px;
				}
			}
		}
	}
}