-
	var navigation = [
		{
			name: 'Почему Словакия',
			link: '#section-slovakiya'
		},
		{
			name: 'Этапы поступления',
			link: '#section-steps'
		},
		{
			name: 'Гарантии',
			link: '#section-garant'
		}
	];

	var wordpress = false;

	var themePrefix = '';